<div>
  <!-- segmented button -->
  <div class="grid grid-cols-2 rounded-md border-solid border border-black divide-x divide-black w-80 h-8">
    <a href="<%= workouts_path %>" class="flex justify-center space-x-2 items-center bg-gray-200 rounded-l-md">
      <svg class="fill-gray-600" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
      <p class="text-lg text-gray-600">Workout</p>
    </a>
    <a href="<%= nutrition_index_path %>" class="flex justify-center space-x-2 items-center">
      <p class="text-lg">Nutrition</p>
    </a>
  </div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <!-- workouts list -->
  <h1 class="mt-10 mb-4 text-xl font-bold text-black">Your workout plans</h1>
  <div class="flex space-x-2">
    <% @workouts.each_with_index do |workout, i| %>
      <turbo-frame id="load_workout_plan">
        <%= link_to "Workout #{i+1}",
          workout_path(workout[:id]),
          data: { turbo_frame: 'show_workout_plan'},
        class: "w-72 h-10 py-3 flex items-center justify-center rounded-lg border border-gray-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]" %>
      </turbo-frame>
    <% end %>

    <turbo-frame id="load_workout_sheet">
      <div class="w-32 h-10 py-3 flex items-center justify-center rounded-lg border-2 border-dashed border-orange-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
        <%= link_to "Add plan",
        new_workout_path,
        data: { turbo_frame: 'add_workout_form', controller: 'add-workout-plan'},
        class: 'text-lg text-orange-600' %>
      </div>
      
    </turbo-frame>
  </div>

  
  <!-- workout -->  
  <turbo-frame class="" id="show_workout_plan"></turbo-frame>
  
  <!-- side sheet overlay -->
  <div id="new-workout-plan-sheet-overlay" class="hidden h-screen w-screen absolute top-0 left-0 backdrop-blur-[3px] bg-white/40"></div>
  <!-- side sheet -->
  <div id="new-workout-plan-sheet" class="hidden px-4 py-6 flex flex-col h-screen absolute top-0 right-0 w-3/6 lg:w-2/5 bg-white shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
    <h1 class="text-2xl font-bold mb-1">Add new workout plan</h1> 
    <h1 class="text-lg mb-8 text-gray-500">Fill the form to get a personalized workout plan.</h1> 
    <turbo-frame class="" id="add_workout_form"></turbo-frame>
  </div>
</div>
