<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <!-- header text -->
  <h1 class="font-bold text-3xl mb-1">Plans</h1>
  <p class="mb-8 text-gray-700">Enter your basic details below. We will utilize this information to create your workout and nutrition plans.</p>

  <div class="border-b -ml-10 pl-10 pb-0.5 space-x-6">
    <a href="<%= workouts_path %>" class="px-20 text-xl text-orange-500 font-bold border-b border-orange-500 border-b-2">Workout</a>
    <a href="<%= nutrition_index_path %>" class="px-20 text-xl -pb-2 text-gray-500 hover:text-black">Nutrition</a>
  </div>

  <!-- workouts list -->
  <div class="mt-10 mb-4 pr-6 flex items-start justify-between w-full">
    <h1 class="text-3xl text-gray-800 capitalize">Your workout plans</h1>

    <turbo-frame id="load_workout_sheet">
      <div class="w-52 h-16 py-3 flex items-center justify-center rounded-lg border-2 border-dashed border-orange-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)] hover:scale-[1.09] transition duration-150 ease-in-out">
        <%= link_to "Add plan",
        new_workout_path,
        data: { turbo_frame: 'add_workout_form', controller: 'add-workout-plan'},
        class: 'text-2xl text-orange-600' %>
      </div>

    </turbo-frame>
  </div>

  <turbo-frame id="workouts" class="flex space-x-2">
    <% @workouts.each_with_index do |workout, i| %>
      <turbo-frame id="load_workout_plan" class="w-72 h-14 py-6 px-4 flex items-center justify-between rounded-lg border border-gray-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
        <%= link_to "Workout #{i+1}",
          workout_path(workout[:id]),
          data: { turbo_frame: 'show_workout_plan'},
        class: "" %>
        <%= link_to 'Delete', workout_path(workout), method: :delete, class: 'btn btn-danger', class: "bg-red-400 rounded-md text-white py-2 px-4" %>
      </turbo-frame>
    <% end %>
  </turbo-frame>


  <%# subscribe to the workouts turbo stream %>
  <%= turbo_stream_from "workouts" %>

  <!-- workout -->
  <turbo-frame class="" id="show_workout_plan"></turbo-frame>

  <!-- side sheet overlay -->
  <div id="new-workout-plan-sheet-overlay" class="hidden h-screen w-screen absolute top-0 left-0 backdrop-blur-[3px] bg-white/40"></div>
  <!-- side sheet -->
  <div id="new-workout-plan-sheet" class="hidden px-4 py-6 flex flex-col h-screen absolute top-0 right-0 w-3/6 lg:w-2/5 bg-white shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
    <h1 class="text-3xl font-bold mb-1">Add new workout plan</h1>
    <h1 class="text-lg mb-8 text-gray-500">Fill the form to get a personalized workout plan.</h1>
    <turbo-frame class="" id="add_workout_form"></turbo-frame>
  </div>
</div>
