<turbo-frame class="" id="show_workout_plan">
  <div class="w-[1000px] mt-8 border border-black rounded-md divide-y">
    <!-- table title -->
      <div class="flex justify-between py-2 bg-gray-100">
          <p class="text-gray-500 font-bold pl-3">Workout 1</p>
          <div class="flex items-center space-x-2">
            <span class="text-md"><%=@exercises_completed%>/<%=@workout.exercises.count%> exercises completed</span>
            <svg class="fill-gray-500 pr-3" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
          </div>
    </div>

     <!-- column titles -->
      <div class="grid grid-cols-5 px-3 py-2">
        <p class="text-gray-500">EXERCISE</p>
        <p class="text-gray-500">REPS</p>
        <p class="text-gray-500">SETS</p>
        <p class="text-gray-500">WEIGHT</p>
        <p class="text-gray-500">STATUS</p>
      </div>
    <div class="divide-y">
    <% @workout.exercises.each do |exercise| %>
      <div class="grid grid-cols-5 py-2 px-3">
        <h3 class="space-x-2">
          
          <%= form_with url: update_status_exercise_path(exercise), method: :patch, data: { controller: "status-toggle", status_toggle_url: update_status_exercise_path(exercise) } do %>
            <%= hidden_field_tag :status, exercise.status %>
            <%= check_box_tag :status, exercise.status == 'complete' ? 'pending' : 'complete', exercise.status == 'complete', data: { target: "status-toggle.checkbox", action: "change->status-toggle#toggle" } %>
            <%= label_tag :status, exercise.status == 'complete' ? 'Mark as Pending' : 'Mark as Complete' %>
          <% end %>
          <%= exercise.name %></h3>
        <p><%= exercise.reps %></p>
        <p><%= exercise.sets %></p>
        <p><%= exercise.sets %></p>
        <p><%= exercise.status %></p>
      </div>
    <% end %>
  </div>
  </div>
</turbo-frame>