<%= form_with(model: nutrition_plan, url: nutrition_index_path) do |form| %>
  <% if nutrition_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nutrition_plan.errors.count, "error") %> prohibited this workout plan from being saved:</h2>

      <ul>
      <% nutrition_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :weight, value: latest_weight.value %>
  <%= form.hidden_field :height, value: latest_height.value %>
  <%= form.hidden_field :age, value: latest_age.value %>
  <%= form.hidden_field :bodyfat, value: latest_bodyfat.value %>

  <div class="field flex flex-col mb-4">
    <%= form.label :goal, "What's your goal?", class: "text-xl mb-2 text-gray-700" %>
    <%= form.select :goal, options_for_select([
      ['Lose Weight', 'lose weight'],
      ['Gain Weight', 'gain_ eight'],
      ['Build Muscle', 'build muscle'],
      ['Maintain Weight', 'maintain weight'],
    ]), {}, { class: "rounded-lg py-4 text-2xl text-gray-900"} %>
  </div>

  <div class="field flex flex-col mb-4">
    <%= form.label :lifestyle, "How active are you currently?", class: "text-xl mb-2 text-gray-700" %>
    <%= form.select :lifestyle, options_for_select([
      ['Sedentary (little or no exercise)', 'sedentary'],
      ['Light Exercise (1-3 days/week)', 'light exercise'],
      ['Moderate Exercise (3-5 days/week)', 'moderate exercise'],
      ['Heavy Exercise (6-7 days/week)', 'heavy exercise'],
      ['Elite Athlete (very hard exercise/physical job)', 'elite athlete']
    ]), {}, { class: "rounded-lg py-4 text-2xl text-gray-900"} %>
  </div>

  <div class="field flex flex-col mb-4">
    <%= form.label :protein, "How much protein do you want?", class: "text-xl mb-2 text-gray-700" %>
    <%= form.select :protein, options_for_select([
      ['Low', 'low'],
      ['Moderate', 'moderate'],
      ['High', 'high'],
    ]), {}, { class: "rounded-lg py-4 text-2xl text-gray-900"} %>
  </div>

  <div class="field flex flex-col mb-4">
    <%= form.label :fat, "How much fat do you want?", class: "text-xl mb-2 text-gray-700" %>
    <%= form.select :fat, options_for_select([
      ['Low', 'low'],
      ['Moderate', 'moderate'],
      ['High', 'high'],
    ]), {}, { class: "rounded-lg py-4 text-2xl text-gray-900"} %>
  </div>

  <div class="field flex flex-col mb-4">
    <%= form.label :carb, "How many carbs do you want?", class: "text-xl mb-2 text-gray-700" %>
    <%= form.select :carb, options_for_select([
      ['Low', 'low'],
      ['Moderate', 'moderate'],
      ['High', 'high'],
    ]), {}, { class: "rounded-lg py-4 text-2xl text-gray-900"} %>
  </div>

  <div class="w-full flex justify-end actions space-x-4">
    <%= button_tag(type: 'button', class: "font-bold flex justify-center hover:scale-2 mt-1 rounded-md w-32 bg-white px-2 py-2 text-black text-xl shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]", data: {controller: "add-workout-plan"}) do %>Cancel<% end %>
    <%= button_tag(type: 'submit', class: 'flex justify-center hover:scale-2 mt-1 rounded-md w-32 bg-purple-400 px-2 py-2 text-white text-xl font-bold shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]', data: {controller: "add-workout-plan", confirm: "Generate a nutrition plan with these details?" }) do %>
      <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M197.58,129.06,146,110l-19-51.62a15.92,15.92,0,0,0-29.88,0L78,110l-51.62,19a15.92,15.92,0,0,0,0,29.88L78,178l19,51.62a15.92,15.92,0,0,0,29.88,0L146,178l51.62-19a15.92,15.92,0,0,0,0-29.88ZM137,164.22a8,8,0,0,0-4.74,4.74L112,223.85,91.78,169A8,8,0,0,0,87,164.22L32.15,144,87,123.78A8,8,0,0,0,91.78,119L112,64.15,132.22,119a8,8,0,0,0,4.74,4.74L191.85,144ZM144,40a8,8,0,0,1,8-8h16V16a8,8,0,0,1,16,0V32h16a8,8,0,0,1,0,16H184V64a8,8,0,0,1-16,0V48H152A8,8,0,0,1,144,40ZM248,88a8,8,0,0,1-8,8h-8v8a8,8,0,0,1-16,0V96h-8a8,8,0,0,1,0-16h8V72a8,8,0,0,1,16,0v8h8A8,8,0,0,1,248,88Z"></path></svg>
      Generate
    <% end %>
  </div>
<% end %>
