<div>
  <!-- header text -->
  <h1 class="font-bold text-3xl mb-1">Plans</h1>
  <p class="mb-8 text-gray-700">Enter your basic details below. We will utilize this information to create your workout and nutrition plans.</p>

  <div class="border-b -ml-10 pl-10 pb-0.5 space-x-6">
    <a href="<%= workouts_path %>" class="px-20 text-xl -pb-2">Workout</a>
    <a href="<%= nutrition_index_path %>" class="px-20 text-xl text-purple-300 font-bold border-b border-purple-300 border-b-2">Nutrition</a>
  </div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <!-- workouts list -->
  <h1 class="mt-10 mb-4 text-xl font-bold text-black">Your nutrition plans</h1>
  <div class="flex space-x-2">
    <% @nutritions.each_with_index do |nutrition, i| %>
      <turbo-frame id="load_workout_plan">
        <%= link_to "Nutrition Plan #{i+1}",
          nutrition_path(nutrition[:id]),
          data: { turbo_frame: 'show_nutrition_plan'},
        class: "w-72 h-10 py-3 flex items-center justify-center rounded-lg border border-gray-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]" %>
      </turbo-frame>
    <% end %>

    <turbo-frame id="load_workout_sheet">
      <div class="w-32 h-10 py-3 flex items-center justify-center rounded-lg border-2 border-dashed border-purple-500 hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
        <%= link_to "Add plan",
        new_nutrition_path,
        data: { turbo_frame: 'add_nutrition_form', controller: 'add-workout-plan'},
        class: 'text-lg text-purple-600' %>
      </div>

    </turbo-frame>
  </div>

  <turbo-frame class="" id="show_nutrition_plan"></turbo-frame>


  <!-- side sheet overlay -->
  <div id="new-workout-plan-sheet-overlay" class="hidden h-screen w-screen absolute top-0 left-0 backdrop-blur-[3px] bg-white/40"></div>
  <!-- side sheet -->
  <div id="new-workout-plan-sheet" class="hidden px-4 py-6 flex flex-col h-screen absolute top-0 right-0 w-3/6 lg:w-2/5 bg-white shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]">
    <h1 class="text-2xl font-bold mb-1">Add new nutrition plan</h1>
    <h1 class="text-lg mb-8 text-gray-500">Fill the form to get a personalized nutritional plan.</h1>
    <turbo-frame class="" id="add_nutrition_form"></turbo-frame>
  </div>
</div>


