<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>
  <h1 class="font-bold text-3xl mb-1">Stats</h1>
  <p class="mb-8 text-gray-700">Enter your basic details below. We will utilize this information to create your workout and nutrition plans.</p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-4 md:gap-24 w-[1000px]">
    <!-- Weight card -->
    <%= render  "card", stat: @stat, card_name: 'weight', latest_data: @latest_weight, unit: 'kg' %>

    <!-- Height card -->
    <%= render  "card", stat: @stat, card_name: 'height', latest_data: @latest_height, unit: 'cm' %>

    <!-- Bodyfat card -->
    <%= render  "card", stat: @stat, card_name: 'bodyfat', latest_data: @latest_bodyfat, unit: '%' %>

    <!-- Age card -->
    <%= render  "card", stat: @stat, card_name: 'age', latest_data: @latest_age, unit: 'years' %>
  <div>

  <!-- Graphs -->
  <div class="grid grid-cols-2 gap-6 w-[1000px]" data-controller="charts">
    <div id="weightChart" class=""></div>
    <div id="heightChart" class=""></div>
  </div>
</div>
