<!DOCTYPE html>
<html>
  <head>
    <title>Genki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%
=begin%>
 <meta name="view-transition" content="same-origin">
<%
=end%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex h-screen">
      <!-- display only for logged in users -->
      <% unless Current.user.nil? %>
      <!-- nav drawer -->
      <aside class="w-3/12 px-6 pt-3 bg-[#f1f1f1cc] border-r">
        <!-- navigation drawer opener -->
        <div class="flex justify-start w-full">
          <div class="hover:scale-[1.09] transition duration-150 ease-in-out">
            <a href="<%= stats_path %>" class="font-bold text-3xl">
              <svg width="300" height="100" viewBox="-5 0 300 100" xmlns="http://www.w3.org/2000/svg">
                <text x="10" y="70" font-family="sans-serif" font-size="40" fill="yellow" stroke="black" stroke-width="10" letter-spacing="-5" transform="skewX(-10)" paint-order="stroke fill" stroke-linejoin="round" stroke-linecap="round">
                  GENKi
                </text>
              </svg>
              <!-- GENKi -->
            </a>
          </div>
        </div>

        <!-- section links -->
        <div class="mt-8 space-y-4">
          <!-- Stats -->
          <% if request.path == stats_path  %>
            <a href="<%= stats_path %>" class="flex space-x-2 bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M236,208a12,12,0,0,1-12,12H32a12,12,0,0,1-12-12V48a12,12,0,0,1,24,0v99l43.51-43.52a12,12,0,0,1,17,0L128,127l43-43H160a12,12,0,0,1,0-24h40a12,12,0,0,1,12,12v40a12,12,0,0,1-24,0V101l-51.51,51.52a12,12,0,0,1-17,0L96,129,44,181v15H224A12,12,0,0,1,236,208Z"></path></svg>
              <p class="text-gray-800 text-2xl font-bold">Stats</p>
            </a>
          <% else %>
            <a href="<%= stats_path %>" class="flex space-x-2 hover:bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M232,208a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V48a8,8,0,0,1,16,0V156.69l50.34-50.35a8,8,0,0,1,11.32,0L128,132.69,180.69,80H160a8,8,0,0,1,0-16h40a8,8,0,0,1,8,8v40a8,8,0,0,1-16,0V91.31l-58.34,58.35a8,8,0,0,1-11.32,0L96,123.31l-56,56V200H224A8,8,0,0,1,232,208Z"></path></svg>
              <p class="text-gray-800 text-2xl">Stats</p>
            </a>
          <% end %>

          <!-- Plans -->
          <% if request.path == workouts_path or request.path == nutrition_index_path %>
            <a href="<%= workouts_path %>" class="flex space-x-2 bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M244,116V88a20,20,0,0,0-20-20H208V64a20,20,0,0,0-20-20H164a20,20,0,0,0-20,20v52H112V64A20,20,0,0,0,92,44H68A20,20,0,0,0,48,64v4H32A20,20,0,0,0,12,88v28a12,12,0,0,0,0,24v28a20,20,0,0,0,20,20H48v4a20,20,0,0,0,20,20H92a20,20,0,0,0,20-20V140h32v52a20,20,0,0,0,20,20h24a20,20,0,0,0,20-20v-4h16a20,20,0,0,0,20-20V140a12,12,0,0,0,0-24ZM36,164V92H48v72Zm52,24H72V68H88Zm96,0H168V68h16Zm36-24H208V92h12Z"></path></svg>
              <p class="text-gray-800 text-2xl font-bold">Plans</p>
            </a>
          <% else %>
            <a href="<%= workouts_path %>" class="flex space-x-2 hover:bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800"  xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M248,120h-8V88a16,16,0,0,0-16-16H208V64a16,16,0,0,0-16-16H168a16,16,0,0,0-16,16v56H104V64A16,16,0,0,0,88,48H64A16,16,0,0,0,48,64v8H32A16,16,0,0,0,16,88v32H8a8,8,0,0,0,0,16h8v32a16,16,0,0,0,16,16H48v8a16,16,0,0,0,16,16H88a16,16,0,0,0,16-16V136h48v56a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16v-8h16a16,16,0,0,0,16-16V136h8a8,8,0,0,0,0-16ZM32,168V88H48v80Zm56,24H64V64H88V192Zm104,0H168V64h24V175.82c0,.06,0,.12,0,.18s0,.12,0,.18V192Zm32-24H208V88h16Z"></path></svg>
              <p class="text-gray-800 text-2xl">Plans</p>
            </a>
          <% end %>

          <!-- Progress -->
          <% if request.path == progress_index_path  %>
            <a href="<%= progress_index_path %>" class="flex space-x-2 bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
              <p class="text-gray-800 text-2xl font-bold">Progress</p>
            </a>
          <% else %>
            <a href="<%= progress_index_path %>" class="flex space-x-2 hover:bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
              <p class="text-gray-800 text-2xl">Progress</p>
            </a>
          <% end %>

          <!-- Coach -->
          <% if request.path == coach_index_path %>
            <a href="<%= exercise_assistance_requests_path %>" class="flex space-x-2 bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M152,92a36,36,0,1,0-36-36A36,36,0,0,0,152,92Zm0-48a12,12,0,1,1-12,12A12,12,0,0,1,152,44Zm76,93.4a12,12,0,0,1-7,10.91,66,66,0,0,1-21.47,3.78c-14,0-34.25-3.82-59.77-19a177,177,0,0,1-10.27,21C153.12,162.83,188,183.8,188,232a12,12,0,0,1-24,0c0-18.69-6.95-33.06-21.26-43.94-9.16-7-19.55-11-27.43-13.34-.81,1-1.64,2-2.5,2.95-20,22.87-44.82,34.76-72.25,34.76a97.33,97.33,0,0,1-9.75-.49,12,12,0,1,1,2.39-23.88c52.3,5.22,77.48-45.92,85.79-67.75C84.8,102.46,63.74,118.78,63.51,119a12,12,0,0,1-15-18.72C50.08,99,88,69.44,142.75,106.62c43.1,29.31,68.1,19.92,68.5,19.76a12,12,0,0,1,16.75,11Z"></path></svg>
              <p class="text-gray-800 text-2xl font-bold">Coach</p>
            </a>
          <% else %>
            <a href="<%= exercise_assistance_requests_path %>" class="flex space-x-2 hover:bg-gray-200 px-4 py-2 rounded-lg hover:scale-[1.09] transition duration-150 ease-in-out">
              <svg class="fill-gray-800" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#000000" viewBox="0 0 256 256"><path d="M152,88a32,32,0,1,0-32-32A32,32,0,0,0,152,88Zm0-48a16,16,0,1,1-16,16A16,16,0,0,1,152,40Zm67.31,100.68c-.61.28-7.49,3.28-19.67,3.28-13.85,0-34.55-3.88-60.69-20a169.31,169.31,0,0,1-15.41,32.34,104.29,104.29,0,0,1,31.31,15.81C173.92,186.65,184,207.35,184,232a8,8,0,0,1-16,0c0-41.7-34.69-56.71-54.14-61.85-.55.7-1.12,1.41-1.69,2.1-19.64,23.8-44.25,36.18-71.63,36.18A92.29,92.29,0,0,1,31.2,208,8,8,0,0,1,32.8,192c25.92,2.58,48.47-7.49,67-30,12.49-15.14,21-33.61,25.25-47C86.13,92.35,61.27,111.63,61,111.84A8,8,0,1,1,51,99.36c1.5-1.2,37.22-29,89.51,6.57,45.47,30.91,71.93,20.31,72.18,20.19a8,8,0,1,1,6.63,14.56Z"></path></svg>
              <p class="text-gray-800 text-2xl">Coach</p>
            </a>
          <% end %>
        </div>
      </aside>
      <% end %>

      <% unless Current.user.nil? %>
      <!-- user profile -->
      <a href="<%= user_profile_path %>" class="flex justify-center absolute top-10 right-3 md:right-6">
        <div class="flex w-10 h-10 md:w-12 md:h-12 items-center justify-center rounded-full bg-indigo-300">
          <p class="text-xl md:text-2xl font-bold"><%= Current.user.email[0].upcase %></p>
        </div>
      </a>
      <% end %>

      <!-- content area -->
      <main class="pt-12 ml-10 w-full">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
